@tailwind base;
@tailwind components;
@tailwind utilities;

.toolbarButton{
    display: none !important;
}
.toolbarHorizontalGroup{
    display: none;
}

iframe > html> body #downloadButton{
    display: none;
}
body{
    background-color: green;
}

.pdf_editor{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}